name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Create .env
        run: cp .env.sample .env

      - name: Build Docker DBs
        run: docker compose up -d

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
